services:
  app:
    extra_hosts:
      - "sinterklaas.dev.local:127.0.0.1"
    build:
      context: .
      dockerfile: Dockerfile
      target: development
      args:
        USER_ID: 1000
        GROUP_ID: 1000
    environment:
      PHP_OPCACHE_ENABLE: 1
      PHP_IDE_CONFIG: "serverName=Sinterklaas"
      BASIC_AUTH_ENABLE: 0
      BASIC_AUTH_USERNAME: sinterklaas
      BASIC_AUTH_PASSWORD: staging
    # ports:
    #   - '${APP_PORT:-80}:8080'
    #   - '${VITE_PORT:-5173}:${VITE_PORT:-5173}'
    volumes:
      - '.:/var/www/html'
    networks:
      - sail
      - web
    labels:
      - 'traefik.enable=true'
      - 'traefik.docker.network=web'
      - 'traefik.http.routers.sinterklaas.rule=Host(`sinterklaas.dev.local`)'
      - 'traefik.http.routers.sinterklaas.entrypoints=https'
      - 'traefik.http.routers.sinterklaas.tls=true'
      - 'traefik.http.routers.sinterklaas.service=sinterklaas@docker'
      - 'traefik.http.services.sinterklaas.loadbalancer.server.port=8080'
    depends_on:
      - mariadb
      - redis
      - phpmyadmin
      - meilisearch
      - mailpit
  meilisearch:
    image: getmeili/meilisearch:v0.30.0
    environment:
      MEILI_MASTER_KEY: ${MEILISEARCH_KEY}
    ports:
      - '${FORWARD_MEILISEARCH_PORT:-7700}:7700'
    volumes:
      - 'sail-meilisearch:/data.ms'
    networks:
      - sail
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--spider", "http://localhost:7700/health"]
      retries: 3
      timeout: 5s
  mailpit:
    image: 'axllent/mailpit:latest'
    ports:
      - '${FORWARD_MAILPIT_PORT:-1025}:1025'
      - '${FORWARD_MAILPIT_DASHBOARD_PORT:-8025}:8025'
    networks:
      - sail
  mariadb:
    image: 'mariadb:10'
    ports:
      - '${FORWARD_DB_PORT:-3306}:3306'
    environment:
      MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
      MYSQL_ROOT_HOST: '%'
      MYSQL_DATABASE: '${DB_DATABASE}'
      MYSQL_USER: '${DB_USERNAME}'
      MYSQL_PASSWORD: '${DB_PASSWORD}'
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
    volumes:
      - 'sail-mariadb:/var/lib/mysql'
      - './vendor/laravel/sail/database/mysql/create-testing-database.sh:/docker-entrypoint-initdb.d/10-create-testing-database.sh'
    networks:
      - sail
    healthcheck:
      test:
        - CMD
        - mysqladmin
        - ping
        - '-p${DB_PASSWORD}'
      retries: 3
      timeout: 5s
  redis:
    image: 'redis:alpine'
    ports:
      - '${FORWARD_REDIS_PORT:-6379}:6379'
    volumes:
      - 'sail-redis:/data'
    networks:
      - sail
    healthcheck:
      test:
        - CMD
        - redis-cli
        - ping
      retries: 3
      timeout: 5s
  phpmyadmin:
    image: 'phpmyadmin:latest'
    ports:
      - '8081:80'
    networks:
      - sail
      - web
    labels:
      - 'traefik.enable=true'
      - 'traefik.docker.network=web'
      - 'traefik.http.routers.phpmyadmin.rule=Host(`phpmyadmin.dev.local`)'
      - 'traefik.http.routers.phpmyadmin.entrypoints=https'
      - 'traefik.http.routers.phpmyadmin.tls.certresolver=myresolver'
      - 'traefik.http.services.phpmyadmin.loadbalancer.server.port=80'
    environment:
      - PMA_HOST=mariadb
      - PMA_USER=root
      - PMA_PASSWORD=${DB_PASSWORD}
      - UPLOAD_LIMIT=1G
networks:
  sail:
    driver: bridge
  web:
    external: true
volumes:
  sail-mariadb:
    driver: local
  sail-redis:
    driver: local
  sail-meilisearch:
    driver: local
