.cadeau-status-available {
    background-color: rgba(74, 222, 128, 0.35);
}

.dark .cadeau-status-available {
    background-color: rgba(22, 163, 74, 0.25);
}

.cadeau-status-reserved {
    background-color: rgba(253, 224, 71, 0.35);
}

.dark .cadeau-status-reserved {
    background-color: rgba(217, 119, 6, 0.25);
}

.cadeau-status-purchased {
    background-color: rgba(248, 113, 113, 0.35);
}

.dark .cadeau-status-purchased {
    background-color: rgba(220, 38, 38, 0.25);
}

.cadeau-status-available:hover,
.cadeau-status-available:hover td,
.cadeau-status-available:hover th {
    background-color: rgba(22, 163, 74, 0.85);
}

.dark .cadeau-status-available:hover,
.dark .cadeau-status-available:hover td,
.dark .cadeau-status-available:hover th {
    background-color: rgba(22, 163, 74, 0.55);
}

.cadeau-status-reserved:hover,
.cadeau-status-reserved:hover td,
.cadeau-status-reserved:hover th {
    background-color: rgba(217, 119, 6, 0.85);
}

.dark .cadeau-status-reserved:hover,
.dark .cadeau-status-reserved:hover td,
.dark .cadeau-status-reserved:hover th {
    background-color: rgba(217, 119, 6, 0.55);
}

.cadeau-status-purchased:hover,
.cadeau-status-purchased:hover td,
.cadeau-status-purchased:hover th {
    background-color: rgba(220, 38, 38, 0.85);
}

.dark .cadeau-status-purchased:hover,
.dark .cadeau-status-purchased:hover td,
.dark .cadeau-status-purchased:hover th {
    background-color: rgba(220, 38, 38, 0.55);
}
